
html, body {
    height: 100%;
}

body {
    align-content: space-around;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: halyard-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    justify-content: space-between;
    margin: 0;
    position: relative;
}

header {
    flex: 0 0 20%;
    padding: 40px 20px;
    position: relative;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .btn.btn-close {
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 2;
    }
}

main {
    flex-basis: 80%;
    padding: 40px 20px;
    
}

// footer {
//     // height: 104px;
//     text-align: center;
// }

h1 {
    text-align: center;
    
    a {
        display: inline-block;
        
        img {
            max-width: 100%;
        }
    }
    
    html:not(.page) & {
        opacity: 0;

        -webkit-transition: transform 1000ms ease,
        opacity 1000ms ease;
        transition: transform 1000ms ease,
        opacity 1000ms ease;

        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    
    .site-loaded:not(.page) & {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

p {
    font-size: 1.35em;
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-family: halyard-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    
    
    &.btn-close {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.3938 2.03036L2.39376 29.9696' stroke='white' stroke-width='4'/%3E%3Cpath d='M2.00004 2.03036L30 29.9696' stroke='white' stroke-width='4'/%3E%3C/svg%3E%0A");
        background-size: cover;
        border: 0;
        display: block;
        height: 28px;
        text-decoration: none;
        width: 28px;
    }
    
    &.btn-intro-listen,
    &.btn-intro-record {

        opacity: 0;
        position: relative;

        -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
        transition: transform 1000ms ease, opacity 1000ms ease;

        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        
        &:hover {
            animation: shake-animation 4.72s ease infinite;
            transform-origin: 50% 50%;
        }
        
        span {
            bottom: -75px;
            font-size: 27px;
            left: 50%;
            letter-spacing: 0.3px;
            position: absolute;
            
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .site-loaded & {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    
    &.btn-intro-listen {
        background: transparent url("data:image/svg+xml,%3Csvg width='279' height='196' viewBox='0 0 279 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.47021' y='1.25' width='275.974' height='193.5' stroke='white' stroke-width='2.5'/%3E%3Cpath d='M2.42197 2.4244L277.076 194.084' stroke='white' stroke-width='2.5'/%3E%3C/svg%3E%0A") no-repeat 0;
        background-size: cover;
        border: 0;
        display: inline-block;
        height: 195px;
        width: 277px;
        
        -webkit-transition-delay: 700ms;
        transition-delay: 700ms;
        
        span {
            font-size: 27px;
        }
    }
    
    &.btn-intro-record {
        background: transparent url("data:image/svg+xml,%3Csvg width='276' height='196' viewBox='0 0 276 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.25' y='1.25' width='136.847' height='193.5' stroke='white' stroke-width='2.5'/%3E%3Cpath d='M138.25 1.25H274.75V194.75H138.25V1.25Z' stroke='white' stroke-width='2.5'/%3E%3C/svg%3E%0A") no-repeat 0;
        background-size: cover;
        border: 0;
        height: 196px;
        width: 276px;
        
        -webkit-transition-delay: 900ms;
        transition-delay: 900ms;

    }
    
    // &.btn-about {
    //     background: transparent url("data:image/svg+xml,%3Csvg width='63' height='64' viewBox='0 0 63 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1425:577)'%3E%3Cpath d='M63.1896 31.96L31.5096 63.64L-0.17041 31.96L31.5096 0.280029L63.1896 31.96ZM29.4216 34.12V39.808H32.5896V35.92L41.0136 30.16V23.176L36.6216 18.784H26.1096L21.7176 23.176V26.92H24.8856V24.616L27.5496 21.952H35.1816L37.8456 24.616V28.288L29.4216 34.12ZM29.4216 43.336V49.456H32.5896V43.336H29.4216Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1425:577'%3E%3Crect width='63' height='64' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat 0;
    //     background-size: cover;
    //     border: 0;
    //     height: 64px;
    //     margin-top: 20px;
    //     opacity: 0;
    //     width: 63px;
        
    //     -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
    //     transition: transform 1000ms ease,
    //     opacity 1000ms ease;

    //     -webkit-transform: translateY(30px);
    //     transform: translateY(30px);
        
    //     &:hover {
    //         animation: shake-animation 4.72s ease infinite;
    //         transform-origin: 50% 50%;
    //     }
        
    //     .site-loaded & {
    //         opacity: 1;
    //         -webkit-transform: translateY(0);
    //         transform: translateY(0);
    //     }
        
    //     -webkit-transition-delay: 1100ms;
    //     transition-delay: 1100ms;
    // }
    
    &.btn-small {
        
        border: 2px solid white;
        font-size: 0.9em;
        letter-spacing: 0.3px;
        overflow:hidden;
        padding: 10px 12px 14px;
        position: relative;
        text-decoration: none;
        
        -webkit-transition: color 255ms ease;
        transition: color 255ms ease;
        
        &::before {
            background-color: white;
            content:"";
            
            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            
            -webkit-transition: top 255ms ease;
            transition: top 255ms ease;
            
            z-index: -1;
        }
        
        &:hover, &:active, &:focus {
            
            color: #111;
            
            &::before {
                top: 0%;
            }
        }
    }
    
    &.btn-record {
        
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        font-size: 1.35em;
        overflow: hidden;
        padding: 118px 60px;
        position: relative;
        
        -webkit-transition: color 255ms ease;
        transition: color 255ms ease;
        
        &::before {
            background-color: white;
            content: "";

            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;

            -webkit-transition: top 255ms ease;
            transition: top 255ms ease;

            z-index: -1;
        }
        
        &:hover, &:active, &:focus {

            color: #111;

            &::before {
                top: 0%;
            }
        }
    }
    
    &.btn-stop-record {
        border: 2px solid white;
        display: inline-block;
        font-size: 1.35em;
        overflow: hidden;
        // padding: 118px 60px;
        position: relative;

        -webkit-transition: color 255ms ease;
        transition: color 255ms ease;

        &::before {
            background-color: white;
            content: "";

            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;

            -webkit-transition: top 255ms ease;
            transition: top 255ms ease;

            z-index: -1;
        }

        &:hover, &:active, &:focus {

            color: #111;

            &::before {
                top: 0%;
            }
        }
    }
    
    &.btn-record, &.btn-stop-record {
        
        height: 394px;
        font-size: 1.35em;
        margin: 0 auto;
        width: 394px;
        
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        
        span {
            display: inline-block;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
}

section {
    
    display: none;
    
    margin: 0 auto;
    max-width: 840px;
    
    &#section-intro {
        align-content: space-between;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-between;

        .half {
            flex: 0 0 40%;
            text-align: center;
        }
        .full {
            flex-basis: 100%;
            text-align: center;
        }
        
        .btn-about {
            font-size: 1.5em;
        }
    }
    
    &#section-about {
        p {
            margin-top: 0;
            text-align: center;
        }
    }
    
    &#section-listen {
        margin-top: 60px;
    }
    
    &#section-record {
        
        text-align: center;
        
        .step-2, .step-3, .step-4 {
            display: none;
        }
        
        .step-3 {
            
            .controls {
                margin-top: 80px;
            }
        }
    }
}

.link-theme-a {
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::before {
        background-color: white;
        bottom: -2px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        width: 0%;

        -webkit-transition: width 300ms ease;
        transition: width 300ms ease;
    }

    &:hover,
    &:active,
    &:focus {

        &::before {
            width: 100%;
        }
    }
}

.modal {
    display: none;
    background-color: #111;
    border: 2px solid white;
    padding: 40px 40px 60px;
    position: absolute;
    
    text-align: right;
    
    width: 80%;
    max-width: 840px;
    
    left: 50%;
    top: 50%;
    
    z-index: 2;
    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    .btn-close {
        display: inline-block;
    }
    
    .modal-content {
        margin: 0 auto;
        max-width: 60%;
        padding-top: 50px;
        text-align: center;
        
        p {padding-bottom: 50px;}
        
        .btn-refuse {
            margin-right:20px;
        }
    }
}

.modal-bg {
    display: none;
    
    background-color: #111;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    right: 0;
    top: 0;
    position: fixed;
    
    z-index: 1;
}

.loader {
    background-color: #111;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    
    .site-loaded:not(.page) & {
        display: none;
    }
}

.sr-hide:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// Keyframes animations
@keyframes shake-animation {
    0% {
        transform: translate(0, 0)
    }

    1.78571% {
        transform: translate(3px, 0)
    }

    3.57143% {
        transform: translate(0, 0)
    }

    5.35714% {
        transform: translate(3px, 0)
    }

    7.14286% {
        transform: translate(0, 0)
    }

    8.92857% {
        transform: translate(3px, 0)
    }

    10.71429% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}


.hidden {
    display: none;
}

.mt-40 {
    margin-top: 40px;
}
.mt-80 {
    margin-top: 80px;
}

.mr-20 {
    margin-right: 20px;
}

// PAGE ECOUTEZ

#playerProgressBarWrapper {
    height: 65px;
    position: relative;
}

#playerSongName {
    color: white;
    font-size: 1.3em;
    letter-spacing: 0.04em;
    margin: 16px 0;
}

#playerProgressBar {
    position: relative;
    height: 8px;
    background-color: #585858;
    vertical-align: 2px;
    border-radius: 3px;
    cursor: pointer;
    overflow:hidden;
}

#playerTime_Now {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 8px;
    background-color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#playerTime_Now::after {
    display: none;
    content: '';
    position: absolute;
    left: 100%;
    width: 3px;
    height: 7px;
    background-color:white;
}

#playerTime_Start {
    color: white;
    // font-weight: 700;
    position: absolute;
    right: 20px;
    bottom: -21px;
}

#playerTime_End {
    display: none;
}

#btnPlay {
    
    display: none;
    
    background: transparent url("data:image/svg+xml,%3Csvg width='23' height='28' viewBox='0 0 23 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5 14L7.88721e-07 27.8564L1.82703e-06 0.143593L22.5 14Z' fill='%23ffffff'/%3E%3C/svg%3E") no-repeat center;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
    border: 0;
    
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
    &:active {
        -webkit-transform: translateX(-50%) scale(0.9);
        transform: translateX(-50%) scale(0.9);
    }
}

#btnStop {
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.1056' height='19.8432' fill='%23ffffff'/%3E%3Cpath d='M12.2109 0H19.0797V19.8432H12.2109V0Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") no-repeat center;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
    border: 0;
    
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
    &:active {
        -webkit-transform: translateX(-50%) scale(0.9);
        transform: translateX(-50%) scale(0.9);
    }
}

#btnRandom {
    background: transparent url("data:image/svg+xml,%3Csvg width='41' height='34' viewBox='0 0 41 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 25C10.3385 25 16.7385 17.5854 21.1692 12.4878C24.7138 8.40975 26.5846 6 32 6' stroke='white' stroke-width='3'/%3E%3Cpath d='M0 8C10.3385 8 16.7385 15.8049 21.1692 21.1707C24.7138 25.4634 26.5846 28 32 28' stroke='white' stroke-width='3'/%3E%3Cpath d='M41 6.5L31.25 12.9952L31.25 0.00480895L41 6.5Z' fill='white'/%3E%3Cpath d='M41 27.5L31.25 33.9952L31.25 21.0048L41 27.5Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
    height: 32px;
    overflow: hidden;
    text-indent: -9999px;
    width: 36px;
    border: 0;
    background-size: contain;
    
    position: absolute;
    right: 0;
    bottom: 0;
    
    &:active {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

#playerTime_Start,
#playerTime_End {
    display: none;
}

// Spectrum
$spectrograph-bars-count: 20;
$spectrograph-bar-width: 6px;

$spectrograph-bar-cells-count: 100;
$spectrograph-bar-cell-height: 2px;

$spectrograph-gap-height: 4px;
$spectrograph-gap-width: 4px;

$spectrograph-height: $spectrograph-bar-cells-count * ($spectrograph-bar-cell-height + $spectrograph-gap-height);
$spectrograph-width: ($spectrograph-bar-width * $spectrograph-bars-count)+($spectrograph-gap-width * ($spectrograph-bars-count - 1));

.spectro-wrapper {
    // filter: blur(15px);
    opacity: 0.2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
}
.spectrograph {
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='#{$spectrograph-bar-width}' height='#{$spectrograph-bar-cell-height + $spectrograph-gap-height}' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='#{$spectrograph-gap-height}' width='#{$spectrograph-bar-width}' height='#{$spectrograph-bar-cell-height}' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
    
    
    

    &__bar {
        margin: 0 $spectrograph-gap-width 0 0;
        flex: 0 0 5%;
        height: 100%;
        background: currentColor;
        transform: translateY(100%);
        transform-origin: center bottom;
        animation: animation 5.5s steps($spectrograph-bar-cells-count, start) infinite alternate;
        will-change: transform;

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                animation-name: animation#{random(3)};
                animation-delay: #{$i * 50}ms;
                animation-duration: #{random(3) * 100 + 3500}ms;
            }
        }

        &:last-child {
            margin: 0;
        }
    }
}

@keyframes animation1 {

    0%,
    5% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes animation2 {

    0%,
    66% {
        transform: translateY(100%);
    }

    33%,
    100% {
        transform: translateY(0);
    }
}

@keyframes animation3 {

    33%,
    66% {
        transform: translateY(100%);
    }

    0%,
    45%,
    100% {
        transform: translateY(0);
    }
}

/***************************************** /**/
.area {
    width: 100%;
    height: 100vh;
    
    position: fixed;
    bottom: 0;
    left: 0;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;

    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;

    }

}

/* ************************************ /
/*waves****************************/


.box {
    position: fixed;
    left: -260px;
    // bottom: 0;
    right: 0;
    // bottom: -205px;
    // filter: blur(40px);
    transform: rotate(10deg);
    filter: blur(100px);
    backface-visibility: hidden;
    will-change: transform;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    // opacity: .4;
    position: absolute;
    // top: 3%;
    // left: 10%;
    // filter: blur(100px);
    background: gray;
    width: 2000px;
    height: 2000px;
    // margin-left: -150px;
    // margin-top: -100px;
    // transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 10s infinite linear;
    backface-visibility: hidden;
    will-change: transform;
}

.wave.-three {
    animation: drift 14s infinite linear;
    position: fixed;
    background-color: #ffe;
}

.wave.-two {
    animation: drift 8s infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
}

.box:after {
    // content: '';
    // display: block;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // z-index: 11;
    // transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        // opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(0.5, 0.5) rotateZ(0deg);
        // opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(0.5, 0.5) rotateZ(0deg);
        // opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        // opacity: 0
    }
}

@keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        // opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        // opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        // opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        // opacity: 0
    }
}

.water {
    position: fixed;
    background-color: gray;
    z-index: -1;
    width: 800px;
    height: 800px;
    opacity: 0.2;
    margin-top: 20%;
    
    // filter:blur(15px);
    
    bottom: 0;
    


    transform: translateZ(0);
    -webkit-transform: translateZ(0);

    transition: all 0.5s ease !important;
    -webkit-transition: all 0.5s ease !important;

    top: 50%;
    left: -50%;
    border: 1px solid transparent;
    border-radius: 40% !important;

    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// Media queries

@media (max-width: 624px) {

    p {
        font-size: 1.2em;
    }

    header {
        flex: 0 0 15%;
        padding: 45px 20px 20px;

        h1 {
            margin: 0;
        }
    }

    main {
        flex-basis: 85%;
        padding-top: 0;
    }

    section {

        &#section-intro {
            align-content: center;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;

            .half {
                // flex: 0 0 100%;
            }

            .full {
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
            }
            
            .btn-about {
                font-size: 24px;
            }
        }

        &#section-about {
            p {
                font-size: 1em;
                text-align: left;
            }
        }
    }

    .btn {

        &.btn-intro-listen {
            height: 141px;
            margin-bottom: 115px;
            width: 200px;
        }

        &.btn-intro-record {
            height: 142px;
            margin-bottom: 115px;
            width: 200px;

        }

        &.btn-intro-listen,
        &.btn-intro-record {
            span {
                bottom: -60px;
                font-size: 24px;
            }
        }

        // &.btn-about {
        //     height: 45px;
        //     width: 44px;
        // }
    }

    .modal {
        left: 20px;
        padding: 20px 20px 40px;
        right: 20px;
        width: auto;

        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);

        .modal-content {
            max-width: none;
        }

        p {
            font-size: 1em;
        }
    }


    .btn.btn-record,
    .btn.btn-stop-record {
        display: flex;
        height: 300px;
        font-size: 1.1em;
        margin: 0 auto;
        width: 300px;
    }

    .step-3 {

        .controls {

            a {
                display: block;
                margin-bottom: 20px;
                margin-right: 0;
            }

            button {
                width: 100%;
            }
        }
    }

    .box {
        transform: rotate(25deg);
    }
}

@media (max-width: 360px) {

    .btn.btn-record,
    .btn.btn-stop-record {
        display: flex;
        height: 240px;
        font-size: 1.1em;
        margin: 0 auto;
        width: 240px;
    }
}

@media (min-width: 1200px) {
    
    .box {
        transform: rotate(0deg);
    }
}

.glow {
    position: fixed;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,
        0 0 100px 60px #fff,
        0 0 140px 90px #fff;
        
    animation: glowing 3s infinite ease-in-out;
    z-index: -1;
}

@keyframes glowing {
    0% {
        transform: translateX(-50%) translateY(-100px);
    }

    50% {
        transform: translateX(-50%) translateY(-50px)
    }
    
    100% {
       transform: translateX(-50%) translateY(-100px);
    }
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 
 #anim-loading {
    // display: none;
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
 }
 
.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px #9880ff;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFF;
    color: #FFF;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #FFF;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #FFF;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #FFF;
    }

    30% {
        box-shadow: 9984px 0 0 2px #FFF;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #FFF;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #FFF;
    }

    30% {
        box-shadow: 9999px 0 0 2px #FFF;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #FFF;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #FFF;
    }

    30% {
        box-shadow: 10014px 0 0 2px #FFF;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #FFF;
    }
}
