html, body {
  height: 100%;
}

body {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: #111;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  position: relative;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 40px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .btn.btn-close {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

main {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding: 40px 20px;
  position: relative;
}

h1 {
  text-align: center;
}

h1 a {
  display: inline-block;
}

h1 a img {
  max-width: 100%;
}

html:not(.page) h1 {
  opacity: 0;
  -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
  -webkit-transition: opacity 1000ms ease, -webkit-transform 1000ms ease;
  transition: opacity 1000ms ease, -webkit-transform 1000ms ease;
  transition: transform 1000ms ease, opacity 1000ms ease;
  transition: transform 1000ms ease, opacity 1000ms ease, -webkit-transform 1000ms ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.site-loaded:not(.page) h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

p {
  font-size: 1.35em;
}

.btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: halyard-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.btn.btn-close {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.3938 2.03036L2.39376 29.9696' stroke='white' stroke-width='4'/%3E%3Cpath d='M2.00004 2.03036L30 29.9696' stroke='white' stroke-width='4'/%3E%3C/svg%3E%0A");
  background-size: cover;
  border: 0;
  display: block;
  height: 28px;
  text-decoration: none;
  width: 28px;
}

.btn.btn-intro-listen, .btn.btn-intro-record {
  opacity: 0;
  position: relative;
  -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
  -webkit-transition: opacity 1000ms ease, -webkit-transform 1000ms ease;
  transition: opacity 1000ms ease, -webkit-transform 1000ms ease;
  transition: transform 1000ms ease, opacity 1000ms ease;
  transition: transform 1000ms ease, opacity 1000ms ease, -webkit-transform 1000ms ease;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.btn.btn-intro-listen:hover, .btn.btn-intro-record:hover {
  -webkit-animation: shake-animation 4.72s ease infinite;
          animation: shake-animation 4.72s ease infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.btn.btn-intro-listen span, .btn.btn-intro-record span {
  bottom: -75px;
  font-size: 27px;
  left: 50%;
  letter-spacing: 0.3px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.site-loaded .btn.btn-intro-listen, .site-loaded .btn.btn-intro-record {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.btn.btn-intro-listen {
  background: transparent url("data:image/svg+xml,%3Csvg width='279' height='196' viewBox='0 0 279 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.47021' y='1.25' width='275.974' height='193.5' stroke='white' stroke-width='2.5'/%3E%3Cpath d='M2.42197 2.4244L277.076 194.084' stroke='white' stroke-width='2.5'/%3E%3C/svg%3E%0A") no-repeat 0;
  background-size: cover;
  border: 0;
  display: inline-block;
  height: 195px;
  width: 277px;
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}

.btn.btn-intro-listen span {
  font-size: 27px;
}

.btn.btn-intro-record {
  background: transparent url("data:image/svg+xml,%3Csvg width='276' height='196' viewBox='0 0 276 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.25' y='1.25' width='136.847' height='193.5' stroke='white' stroke-width='2.5'/%3E%3Cpath d='M138.25 1.25H274.75V194.75H138.25V1.25Z' stroke='white' stroke-width='2.5'/%3E%3C/svg%3E%0A") no-repeat 0;
  background-size: cover;
  border: 0;
  height: 196px;
  width: 276px;
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
}

.btn.btn-small {
  border: 2px solid white;
  font-size: 0.9em;
  letter-spacing: 0.3px;
  overflow: hidden;
  padding: 10px 12px 14px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 255ms ease;
  transition: color 255ms ease;
}

.btn.btn-small::before {
  background-color: white;
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: top 255ms ease;
  transition: top 255ms ease;
  z-index: -1;
}

.btn.btn-small:hover, .btn.btn-small:active, .btn.btn-small:focus {
  color: #111;
}

.btn.btn-small:hover::before, .btn.btn-small:active::before, .btn.btn-small:focus::before {
  top: 0%;
}

.btn.btn-record {
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.35em;
  overflow: hidden;
  padding: 118px 60px;
  position: relative;
  -webkit-transition: color 255ms ease;
  transition: color 255ms ease;
}

.btn.btn-record::before {
  background-color: white;
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: top 255ms ease;
  transition: top 255ms ease;
  z-index: -1;
}

.btn.btn-record:hover, .btn.btn-record:active, .btn.btn-record:focus {
  color: #111;
}

.btn.btn-record:hover::before, .btn.btn-record:active::before, .btn.btn-record:focus::before {
  top: 0%;
}

.btn.btn-record {
  height: 394px;
  font-size: 1.35em;
  margin: 0 auto;
  width: 394px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn.btn-record span {
  display: inline-block;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

section {
  display: none;
  margin: 0 auto;
  max-width: 840px;
}

section#section-intro {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#section-intro .half {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: center;
}

section#section-intro .full {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

section#section-intro .btn-about {
  font-size: 1.5em;
}

section#section-about p {
  margin-top: 0;
  text-align: center;
}

section#section-listen {
  margin-top: 60px;
}

section#section-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

section#section-record .step-2, section#section-record .step-3, section#section-record .step-4 {
  display: none;
  width: 100%;
}

section#section-record .step-3 .controls {
  margin-top: 4em;
}

section#section-record #time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1em 0 3em;
}

section#section-record #time span {
  margin: 0 2px;
}

section#section-record #time #seconds, section#section-record #time #minutes {
  width: 38px;
}

section#section-record #time #milliseconds {
  width: 58px;
}

.link-theme-a {
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.link-theme-a::before {
  background-color: white;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 0%;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
}

.link-theme-a:hover::before, .link-theme-a:active::before, .link-theme-a:focus::before {
  width: 100%;
}

.modal {
  display: none;
  background-color: #111;
  border: 2px solid white;
  padding: 40px 40px 60px;
  position: absolute;
  text-align: right;
  width: 80%;
  max-width: 840px;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal .btn-close {
  display: inline-block;
}

.modal .modal-content {
  margin: 0 auto;
  max-width: 60%;
  padding-top: 50px;
  text-align: center;
}

.modal .modal-content p {
  padding-bottom: 50px;
}

.modal .modal-content .btn-refuse {
  margin-right: 20px;
}

.modal-bg {
  display: none;
  background-color: #111;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1;
}

.loader {
  background-color: #111;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.site-loaded:not(.page) .loader {
  display: none;
}

.sr-hide:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@-webkit-keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  1.78571% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  3.57143% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5.35714% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  7.14286% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.92857% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  10.71429% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  1.78571% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  3.57143% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5.35714% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  7.14286% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.92857% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  10.71429% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.hidden, .hide {
  display: none;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.mr-20 {
  margin-right: 20px;
}

#playerProgressBarWrapper {
  height: 65px;
  position: relative;
}

#playerSongName {
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.04em;
  margin: 16px 0;
}

#playerProgressBar {
  position: relative;
  height: 8px;
  background-color: #585858;
  vertical-align: 2px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}

#playerTime_Now {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 8px;
  background-color: #FFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#playerTime_Now::after {
  display: none;
  content: '';
  position: absolute;
  left: 100%;
  width: 3px;
  height: 7px;
  background-color: white;
}

#playerTime_Start {
  color: white;
  position: absolute;
  right: 20px;
  bottom: -21px;
}

#playerTime_End {
  display: none;
}

#btnPlay {
  display: none;
  background: transparent url("data:image/svg+xml,%3Csvg width='23' height='28' viewBox='0 0 23 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5 14L7.88721e-07 27.8564L1.82703e-06 0.143593L22.5 14Z' fill='%23ffffff'/%3E%3C/svg%3E") no-repeat center;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  border: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#btnPlay:active {
  -webkit-transform: translateX(-50%) scale(0.9);
  transform: translateX(-50%) scale(0.9);
}

#btnStop {
  background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.1056' height='19.8432' fill='%23ffffff'/%3E%3Cpath d='M12.2109 0H19.0797V19.8432H12.2109V0Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") no-repeat center;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  border: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#btnStop:active {
  -webkit-transform: translateX(-50%) scale(0.9);
  transform: translateX(-50%) scale(0.9);
}

#btnRandom {
  background: transparent url("data:image/svg+xml,%3Csvg width='41' height='34' viewBox='0 0 41 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 25C10.3385 25 16.7385 17.5854 21.1692 12.4878C24.7138 8.40975 26.5846 6 32 6' stroke='white' stroke-width='3'/%3E%3Cpath d='M0 8C10.3385 8 16.7385 15.8049 21.1692 21.1707C24.7138 25.4634 26.5846 28 32 28' stroke='white' stroke-width='3'/%3E%3Cpath d='M41 6.5L31.25 12.9952L31.25 0.00480895L41 6.5Z' fill='white'/%3E%3Cpath d='M41 27.5L31.25 33.9952L31.25 21.0048L41 27.5Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  border: 0;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
}

#btnRandom:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#playerTime_Start,
#playerTime_End {
  display: none;
}

.spectro-wrapper {
  opacity: 0.2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
}

.spectrograph {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='6px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='4px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='6px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='4px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
}

.spectrograph__bar {
  margin: 0 4px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  height: 100%;
  background: currentColor;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: animation 5.5s steps(100, start) infinite alternate;
          animation: animation 5.5s steps(100, start) infinite alternate;
  will-change: transform;
}

.spectrograph__bar:nth-child(1) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
}

.spectrograph__bar:nth-child(2) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(3) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(4) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
}

.spectrograph__bar:nth-child(5) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-duration: 3800ms;
          animation-duration: 3800ms;
}

.spectrograph__bar:nth-child(6) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(7) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
  -webkit-animation-duration: 3800ms;
          animation-duration: 3800ms;
}

.spectrograph__bar:nth-child(8) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
}

.spectrograph__bar:nth-child(9) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
}

.spectrograph__bar:nth-child(10) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(11) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(12) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(13) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
  -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
}

.spectrograph__bar:nth-child(14) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-duration: 3800ms;
          animation-duration: 3800ms;
}

.spectrograph__bar:nth-child(15) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(16) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(17) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(18) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
}

.spectrograph__bar:nth-child(19) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 950ms;
          animation-delay: 950ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:nth-child(20) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
}

.spectrograph__bar:last-child {
  margin: 0;
}

@-webkit-keyframes animation1 {
  0%,
  5% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation1 {
  0%,
  5% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes animation2 {
  0%,
  66% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  33%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation2 {
  0%,
  66% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  33%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes animation3 {
  33%,
  66% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  0%,
  45%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation3 {
  33%,
  66% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  0%,
  45%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/***************************************** /**/
.area {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

/* ************************************ /
/*waves****************************/
.box {
  position: fixed;
  left: -260px;
  bottom: 20%;
  right: 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  position: absolute;
  background: gray;
  width: 2000px;
  height: 2000px;
  border-radius: 43%;
  -webkit-animation: drift 10s infinite linear;
          animation: drift 10s infinite linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}

.wave.-three {
  -webkit-animation: drift 14s infinite linear;
          animation: drift 14s infinite linear;
  position: fixed;
  background-color: #ffe;
}

.wave.-two {
  -webkit-animation: drift 8s infinite linear;
          animation: drift 8s infinite linear;
  opacity: .1;
  background: black;
  position: fixed;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(0.5, 0.5) rotateZ(0deg);
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(0.5, 0.5) rotateZ(0deg);
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
  }
}

.water {
  position: fixed;
  background-color: gray;
  z-index: -1;
  width: 800px;
  height: 800px;
  opacity: 0.2;
  margin-top: 20%;
  bottom: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  top: 50%;
  left: -50%;
  border: 1px solid transparent;
  border-radius: 40% !important;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 624px) {
  p {
    font-size: 1.2em;
  }
  header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    padding: 45px 20px 20px;
  }
  header h1 {
    margin: 0;
  }
  main {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
    padding-top: 0;
  }
  section#section-intro {
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section#section-intro .full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section#section-intro .btn-about {
    font-size: 24px;
  }
  section#section-about p {
    font-size: 1em;
    text-align: left;
  }
  .btn.btn-intro-listen {
    height: 141px;
    margin-bottom: 115px;
    width: 200px;
  }
  .btn.btn-intro-record {
    height: 142px;
    margin-bottom: 115px;
    width: 200px;
  }
  .btn.btn-intro-listen span, .btn.btn-intro-record span {
    bottom: -60px;
    font-size: 24px;
  }
  .modal {
    left: 20px;
    padding: 20px 20px 40px;
    right: 20px;
    width: auto;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .modal .modal-content {
    max-width: none;
  }
  .modal p {
    font-size: 1em;
  }
  .btn.btn-record {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    font-size: 1.1em;
    margin: 0 auto;
    width: 300px;
  }
  .step-3 .controls a {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .step-3 .controls button {
    width: 100%;
  }
  .box {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@media (max-width: 360px) {
  .btn.btn-record,
  .btn.btn-stop-record {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 240px;
    font-size: 1.1em;
    margin: 0 auto;
    width: 240px;
  }
}

@media (min-width: 1200px) {
  .box {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.glow {
  position: fixed;
  bottom: -120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #fff, 0 0 140px 90px #fff;
          box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #fff, 0 0 140px 90px #fff;
  -webkit-animation: glowing 3s infinite ease-in-out;
          animation: glowing 3s infinite ease-in-out;
  z-index: -1;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-transform: translateX(-50%) translateY(-100px);
            transform: translateX(-50%) translateY(-100px);
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(-50px);
            transform: translateX(-50%) translateY(-50px);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-100px);
            transform: translateX(-50%) translateY(-100px);
  }
}

@keyframes glowing {
  0% {
    -webkit-transform: translateX(-50%) translateY(-100px);
            transform: translateX(-50%) translateY(-100px);
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(-50px);
            transform: translateX(-50%) translateY(-50px);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-100px);
            transform: translateX(-50%) translateY(-100px);
  }
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
#anim-loading {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-box-shadow: 9999px 0 0 -5px #9880ff;
          box-shadow: 9999px 0 0 -5px #9880ff;
  -webkit-animation: dotPulse 1.5s infinite linear;
          animation: dotPulse 1.5s infinite linear;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FFF;
  color: #FFF;
}

.dot-pulse::before {
  -webkit-box-shadow: 9984px 0 0 -5px #FFF;
          box-shadow: 9984px 0 0 -5px #FFF;
  -webkit-animation: dotPulseBefore 1.5s infinite linear;
          animation: dotPulseBefore 1.5s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-pulse::after {
  -webkit-box-shadow: 10014px 0 0 -5px #FFF;
          box-shadow: 10014px 0 0 -5px #FFF;
  -webkit-animation: dotPulseAfter 1.5s infinite linear;
          animation: dotPulseAfter 1.5s infinite linear;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes dotPulseBefore {
  0% {
    -webkit-box-shadow: 9984px 0 0 -5px #FFF;
            box-shadow: 9984px 0 0 -5px #FFF;
  }
  30% {
    -webkit-box-shadow: 9984px 0 0 2px #FFF;
            box-shadow: 9984px 0 0 2px #FFF;
  }
  60%,
  100% {
    -webkit-box-shadow: 9984px 0 0 -5px #FFF;
            box-shadow: 9984px 0 0 -5px #FFF;
  }
}

@keyframes dotPulseBefore {
  0% {
    -webkit-box-shadow: 9984px 0 0 -5px #FFF;
            box-shadow: 9984px 0 0 -5px #FFF;
  }
  30% {
    -webkit-box-shadow: 9984px 0 0 2px #FFF;
            box-shadow: 9984px 0 0 2px #FFF;
  }
  60%,
  100% {
    -webkit-box-shadow: 9984px 0 0 -5px #FFF;
            box-shadow: 9984px 0 0 -5px #FFF;
  }
}

@-webkit-keyframes dotPulse {
  0% {
    -webkit-box-shadow: 9999px 0 0 -5px #FFF;
            box-shadow: 9999px 0 0 -5px #FFF;
  }
  30% {
    -webkit-box-shadow: 9999px 0 0 2px #FFF;
            box-shadow: 9999px 0 0 2px #FFF;
  }
  60%,
  100% {
    -webkit-box-shadow: 9999px 0 0 -5px #FFF;
            box-shadow: 9999px 0 0 -5px #FFF;
  }
}

@keyframes dotPulse {
  0% {
    -webkit-box-shadow: 9999px 0 0 -5px #FFF;
            box-shadow: 9999px 0 0 -5px #FFF;
  }
  30% {
    -webkit-box-shadow: 9999px 0 0 2px #FFF;
            box-shadow: 9999px 0 0 2px #FFF;
  }
  60%,
  100% {
    -webkit-box-shadow: 9999px 0 0 -5px #FFF;
            box-shadow: 9999px 0 0 -5px #FFF;
  }
}

@-webkit-keyframes dotPulseAfter {
  0% {
    -webkit-box-shadow: 10014px 0 0 -5px #FFF;
            box-shadow: 10014px 0 0 -5px #FFF;
  }
  30% {
    -webkit-box-shadow: 10014px 0 0 2px #FFF;
            box-shadow: 10014px 0 0 2px #FFF;
  }
  60%,
  100% {
    -webkit-box-shadow: 10014px 0 0 -5px #FFF;
            box-shadow: 10014px 0 0 -5px #FFF;
  }
}

@keyframes dotPulseAfter {
  0% {
    -webkit-box-shadow: 10014px 0 0 -5px #FFF;
            box-shadow: 10014px 0 0 -5px #FFF;
  }
  30% {
    -webkit-box-shadow: 10014px 0 0 2px #FFF;
            box-shadow: 10014px 0 0 2px #FFF;
  }
  60%,
  100% {
    -webkit-box-shadow: 10014px 0 0 -5px #FFF;
            box-shadow: 10014px 0 0 -5px #FFF;
  }
}
/*# sourceMappingURL=styles.css.map */